{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>{{ template_data.movie.name }}</h2>
        <hr />
        <p><b>Description:</b> {{ template_data.movie.description }}</p>
        <p><b>Price:</b> ${{ template_data.movie.price }}</p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{{ template_data.movie.image.url }}" class="rounded img-card-400" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}